#player-wrapper.jwplayer {

}

#wrapper-video-homepage,
#wrapper-video-singlepage,
#wrapper-video-live,
#wrapper-video-live_embed,
#wrapper-video-embed {
    height: auto !important;
}

.jwplayer .jw-preview {
    background-size: contain !important;
}

.jw-state-idle .jw-svg-icon-play path {
    display: none;
}

.jw-state-idle .jw-svg-icon-play {
    background-image: url("../icons/play_icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-state-idle:hover .jw-display-icon-container .jw-svg-icon-play {
    background-image: url("../icons/play_icon_hover.svg");
    fill: #ff8400;
}

/* play icon in control bar */
.jw-state-paused .jw-svg-icon-play path {
}

.jw-state-paused .jw-svg-icon-play {
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-state-paused .jw-icon-playback:hover .jw-svg-icon-play {
}

/* pause icon in control bar */
.jw-svg-icon-pause path {
}

.jw-svg-icon-pause {
    background-size: contain;
    background-repeat: no-repeat;
}


/* //////////////////// */

/* Set the idle overlay to transparent white */
.jwplayer.jw-skin-alaska.jw-state-idle .jw-controls {
}

/* Hide titles on complete */
.jw-title {
    display: inherit !important;
}

.jwplayer.jw-skin-alaska.jw-state-complete .jw-title .jw-title-primary,
.jwplayer.jw-skin-alaska.jw-state-complete .jw-title .jw-title-secondary {
    display: none;
}

/*  play & restart buttons with  icons */
.jwplayer.jw-skin-alaska .jw-display-controls .jw-display-icon-container,
.jwplayer.jw-skin-alaska .jw-display-controls .jw-display-icon-container {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.jwplayer.jw-skin-alaska
.jw-display-controls
.jw-display-icon-container
.jw-icon,
.jwplayer.jw-skin-alaska
.jw-display-controls
.jw-display-icon-container
.jw-icon {
    width: 80px;
    height: 80px;
    padding: 20px;
}

/* Change play button colors on idle state, handle hover transitions */
.jwplayer.jw-skin-alaska.jw-state-idle
.jw-display-controls
.jw-display-icon-container {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}


/* Shrink play button on smaller breakpoints */
.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-3
.jw-display-controls
.jw-display-icon-container,
.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-2
.jw-display-controls
.jw-display-icon-container {
}

.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-1
.jw-display-controls
.jw-display-icon-container,
.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-0
.jw-display-controls
.jw-display-icon-container {
    height: 40px;
    width: 40px;
}

.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-3
.jw-display-controls
.jw-display-icon-container
.jw-icon,
.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-2
.jw-display-controls
.jw-display-icon-container
.jw-icon {
}

.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-1
.jw-display-controls
.jw-display-icon-container
.jw-icon {
    height: 30px;
    width: 80px;
    padding: 10px;
}

.jw-breakpoint-1 .jwplayer.jw-state-paused {
    display: none;
}

.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-0
.jw-display-controls
.jw-display-icon-container
.jw-icon {
    height: 20px;
    width: 20px;
    padding: 10px;
}

.jwplayer.jw-skin-alaska.jw-state-idle
.jw-display-controls
.jw-display-icon-container:hover {
}



.jwplayer.jw-skin-alaska.jw-state-paused .jw-controls {
    background-color: rgba(147, 221, 230, 0.3);
}

.jw-horizontal-volume-container {
    display: block !important;
}


/* Decrease font size on medium-small breakpoints */
.jwplayer.jw-skin-alaska.jw-breakpoint-3 .jw-title-primary,
.jwplayer.jw-skin-alaska.jw-breakpoint-2 .jw-title-primary,
.jwplayer.jw-skin-alaska.jw-breakpoint-1 .jw-title-primary,
.jwplayer.jw-skin-alaska.jw-breakpoint-0 .jw-title-primary {
    font-size: 22px;
}

.jwplayer.jw-skin-alaska.jw-breakpoint-3 .jw-title-secondary,
.jwplayer.jw-skin-alaska.jw-breakpoint-2 .jw-title-secondary {
    font-size: 14px;
}

/* Hide the description on smallest breakpoints */
.jwplayer.jw-skin-alaska.jw-breakpoint-1 .jw-title-secondary,
.jwplayer.jw-skin-alaska.jw-breakpoint-0 .jw-title-secondary {
}

/* Change colors and remove gradient shadow for control bar, change icon color on pause */
.jwplayer.jw-skin-alaska .jw-display {
    padding-bottom: 45px;
}

.jwplayer.jw-skin-alaska .jw-controlbar {
    background-color: rgba(43, 51, 63, 0.7);
    padding: 0;
    height: 30px !important;
}

.jwplayer.jw-skin-alaska .jw-controlbar .jw-button-container .jw-button-color {
    color: #ff8400;
}

.jwplayer.jw-skin-alaska .jw-controlbar .jw-button-container .jw-button-color {
    color: #ff8400;
    left: 0 !important;
}

.jwplayer.jw-skin-alaska
.jw-controlbar
.jw-button-container
.jw-button-color:hover {
    color: #ff8400;
}

/* Move tooltips closer to control bar with inline timeslider, change colors, round corners, remove shadow */
.jwplayer.jw-skin-alaska .jw-controlbar .jw-tooltip {
    bottom: 70%;
    box-shadow: none;
}

.jwplayer.jw-skin-alaska .jw-controlbar .jw-tooltip.jw-open {
    border-radius: 5px;
    color: #ff8400;
}

.jwplayer.jw-skin-alaska .jw-controlbar .jw-tooltip .jw-text {
    background-color: #ff8400;
    border-radius: 5px;
    border: 0;
}

.jwplayer.jw-skin-alaska .jw-controlbar .jw-text {
    color: #1e1e1e;
}

.jwplayer.jw-skin-alaska .jw-volume-tip,
.jwplayer.jw-skin-alaska .jw-time-tip {
    padding-bottom: 0;
}

/* Customize colors of volume control knob */
.jwplayer.jw-skin-alaska
.jw-overlay
.jw-slider-volume
.jw-slider-container
.jw-knob {
    background-color: #ff8400;
}

/* Customize colors of timeslider */
.jwplayer.jw-skin-alaska
.jw-controlbar
.jw-slider-time
.jw-slider-container
.jw-rail {
}

.jw-reset .jw-button-container {
    height: 30px !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

.jw-slider-time {
    height: 0px !important;
    top: -4px;
    position: relative;
}

.jw-slider-time,
.jw-flag-audio-player .jw-slider-volume {
    padding: 0 !important;
    box-sizing: border-box;
    height: 26px;
}

/* ////////////////////////////// */


.jwplayer.jw-skin-alaska
.jw-controlbar
.jw-slider-time
.jw-slider-container
.jw-progress {
    background-color: #ff8400 !important;
}

.jwplayer.jw-skin-alaska
.jw-controlbar
.jw-slider-time
.jw-slider-container
.jw-knob {
    background-color: #ff8400 !important;
}

/* Customize of the settings menu */


.jwplayer.jw-skin-alaska .jw-settings-menu {
    background-color: transparent;
}

.jwplayer.jw-skin-alaska .jw-settings-menu .jw-settings-topbar {
    background-color: #ff8400;
}


.jwplayer.jw-skin-alaska .jw-settings-menu .jw-settings-content-item:hover,
.jwplayer.jw-skin-alaska .jw-settings-menu .jw-settings-item-active {
    color: #ff8400;
    font-weight: bold;
}

/* ////////////// */

.jw-icon-inline {
    width: 40px !important;
    height: 26px !important;
    right: -15px;
}

.jw-svg-icon .jw-svg-icon-play {
    width: 16px;
    height: 16px;
    font-size: 1.8em;
}

.jw-text-elapsed,
.jw-text-duration,
.jw-text-countdown {
    color: #ff8400 !important;
    font-size: 10px;
}

.jw-svg-icon-pause,
.jw-svg-icon-rewind,
.jw-svg-icon-volume-50 .jw-svg-icon-volume-100,
.jw-svg-icon-volume-50 .jw-svg-icon-volume-0,
.jw-svg-icon-sharing,
.jw-svg-icon-settings,
.jw-svg-icon-fullscreen-on,
.jw-svg-icon-fullscreen-off {
    width: 16px !important;
    height: 16px !important;
}

.jw-slider-volume .jw-progress,
.jw-slider-volume .jw-buffer {
    background: #ff8400 !important;
}

.jw-icon.jw-icon-volume.jw-open ~ .jw-text-elapsed,
.jw-icon.jw-icon-volume.jw-open ~ .jw-text-countdown,
.jw-icon.jw-icon-volume.jw-open ~ .jw-text-duration,
.jw-icon.jw-icon-volume.jw-open ~ .jw-text-alt,
.jw-icon.jw-icon-volume.jw-open ~ .jw-text-live {

}

/* volume horizontal set */
.jw-slider-time {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    display: flex;
    order: 0;
}

.jw-icon-volume {
    margin-right: 0;
}

#jwplayer-container
> div.jw-wrapper.jw-reset
> div.jw-controls.jw-reset
> div.jw-controlbar.jw-reset
> div.jw-reset.jw-button-container
> div.jw-icon.jw-icon-tooltip.jw-icon-volume.jw-button-color.jw-reset.jw-open
.jw-overlay {
    display: none;
}

.jw-horizontal-volume-container {
    align-items: center;
    width: 0;
}

.jw-open {
    transition: width 1000ms;
    width: 80px;
    margin-right: 20px;

}

.jw-slider-volume {
    padding: 0 12px;
    opacity: 1;
}

.jw-slider-time {
    flex: 1 1 auto;
    width: auto;
    transition: opacity 1000ms;
}

.jw-slider-volume {
    height: 20px;
    align-items: center;
    padding-right: 10px !important;
}

.jw-knob {
    transform: translate(-50%, -50%);
}

.jw-icon-volume {
    margin-right: 10px;
}

/* .jw-breakpoint-1, */
.jw-breakpoint-2 .jw-horizontal-volume-container.jw-open ~ .jw-slider-time {
    opacity: 0;
}

/* set quality & sharing menu container */
.jw-settings-menu {
    height: auto !important;
    width: auto;
    bottom: 40px !important;
    right: 33px !important;
}

.jw-settings-menu .jw-svg-icon[class*="jw-svg-icon-quality"],
.jw-settings-menu .jw-svg-icon[class*="jw-svg-icon-sharing"],
.jw-submenu-sharing,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-settings-quality.jw-submenu-quality,
.jw-settings-menu .jw-svg-icon[class*="jw-svg-icon-quality"]:after,
.jw-settings-menu .jw-svg-icon[class*="jw-svg-icon-sharing"]:after,
.jw-icon-settings::after {
    display: none !important;
}

.jw-settings-submenu-quality.jw-settings-submenu-active,
.jw-settings-submenu-sharing.jw-settings-submenu-active {
    background-color: rgba(43, 51, 63, 0.7) !important;

}

.jwplayer.jw-skin-alaska .jw-settings-menu {
    width: auto;
    box-sizing: border-box;
}

/* hide right-click */
.jw-rightclick {
    display: none !important;
}

/* remove rewind 10sec btn */
.jw-icon-rewind {
    display: none !important;
}

.jw-display-icon-container.jw-display-icon-rewind.jw-reset,
.jw-display-icon-container.jw-display-icon-next.jw-reset {
    display: none !important;
}

/* hide related videos during video play */
.jw-related-shelf-container.jw-reset {
    display: none !important;
}

@media only screen and (min-width: 300px) and (max-width: 449px) {
    .jw-slider-time {
        height: auto !important;
    }

    .jw-flag-touch .jw-slider-time::before {
        height: 15px !important;
        bottom: auto !important;
    }

    .jwplayer.jw-skin-alaska .jw-display-controls .jw-display-icon-container,
    .jwplayer.jw-skin-alaska .jw-display-controls .jw-display-icon-container {
        width: auto;
        height: auto;
    }

    .jw-display-icon-rewind,
    .jw-display-icon-next,
    .jw-display-icon-container .jw-display-icon-rewind .jw-reset,
    .jw-display-icon-container .jw-display-icon-next .jw-reset {
        display: none !important;
    }

    .jw-state-paused .jw-svg-icon-play path {
        display: none;
    }

    .jw-state-paused .jw-svg-icon-play {
        background-image: url("../icons/play.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .jw-state-paused .jw-display-icon-container:hover .jw-svg-icon-play {
        background-image: url("../icons/play_icon_hover.svg");
        fill: #ff8400;
    }

    .jw-flag-floating {
        background-image: none !important;
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat;
    }

    .jw-flag-floating .jw-icon-fullscreen {
        display: none;
    }
}

.jw-reset.jw-icon.jw-icon-inline.jw-related-page.jw-related-page-left.jw-button-color,
.jw-related-next-up-text.jw-reset-text,
.jw-nextup-container.jw-reset.jw-nextup-sticky.jw-nextup-container-visible,
.jw-related-next-up-text.jw-reset-text {
    display: none !important;
}

/* hide live part controls */
.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads)
.jw-controlbar
.jw-button-container
> .jw-icon-playback,
.jwplayer.jw-flag-live.jw-state-playing .jw-icon-playback .jw-svg-icon-pause {
    display: inherit !important;
}

#jwplayer-container-live
> div.jw-wrapper.jw-reset
> div.jw-controls.jw-reset
> div.jw-controlbar.jw-reset
> div.jw-reset.jw-button-container
> div.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-playback
> svg.jw-svg-icon.jw-svg-icon-stop {
    display: none;
}

/* MOBILE EDITS */
.related-wrapper > div {
    text-align: center;
}

.jw-breakpoint-1.jw-state-playing .jw-icon-display,
.jw-breakpoint-1.jw-state-paused .jw-display-controls {
    visibility: hidden !important;
}

.jw-breakpoint-1.jw-state-idle .jw-display-controls {
    display: inline-block !important;
}

.jw-breakpoint-1
div.jw-controls.jw-reset
> div.jw-controlbar.jw-reset
> div.jw-reset.jw-button-container
> div.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-volume.jw-full
> svg.jw-svg-icon.jw-svg-icon-volume-100 {
    width: 18px !important;
    height: 18px !important;
}

.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-1
.jw-display-controls
.jw-display-icon-container {
    width: auto !important;
    height: auto !important;
}

.jw-breakpoint-1 .jw-state-idle .jw-svg-icon-play {
    background-size: cover;
}

.jw-breakpoint-1 .jw-display .jw-svg-icon,
#jwplayer-mobile-container-tv-live
> div.jw-wrapper.jw-reset
> div.jw-controls.jw-reset
> div.jw-display.jw-reset
> div
> div
> div.jw-display-icon-container.jw-display-icon-display.jw-reset
> div
> svg.jw-svg-icon.jw-svg-icon-buffer {
    width: 90px !important;
    height: 90px !important;
}

#jwplayer-mobile-container-tv-live
> div.jw-wrapper.jw-reset
> div.jw-controls.jw-reset
> div.jw-controlbar.jw-reset
> div.jw-reset.jw-button-container
> div.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-playback
> svg.jw-svg-icon.jw-svg-icon-stop {
    display: none !important;
}


.jw-error {
    height: 100% !important;
    padding-top: 56.25% !important;
}

.jw-icon-tooltip.jw-open .jw-overlay {
    opacity: 0 !important;
}

.jw-state-error#jwplayer-container,
#jwplayer-container.jw-state-error {
    height: 100% !important;
    padding-top: 0 !important;
}

/* 09.03.20 */
.jw-breakpoint-1 .jw-settings-menu {
    bottom: 0 !important;
    height: inherit !important;
}



.jw-state-paused .jw-icon-display {
    visibility: hidden !important;
}

.jw-state-playing .jw-icon-display {
    visibility: hidden !important;
}


/*setting RELATED VIDEOS*/

.player-wrap {
    position: relative;
}

#jwplayer-container {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.related-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.related-wrapper a {
    position: relative;
    width: 33%;
    display: inline-block;
    padding: 3px 5px;
    box-sizing: border-box;
}

.related-wrapper a img {
    width: 100%;
}

.related_item-title {
    font: 700 0.9em/1.2 Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    transition: opacity 0.3s ease 0s;
    padding: 10px;
    opacity: 0;
}

.jw_close-button {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0.5em;
    background: #ff8400;
    width: 20px;
    height: 20px;
    z-index: 999999;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 50%;
    color: #fff;
}

.autoplay-tooltip {
    display: none;
}

.hide-autoplay-tooltip {
    visibility: hidden;
    position: absolute;
    top: -28px;
    left: 35%;
    right: 30%;
    text-align: center;
    background-color: #fff;
    border-radius: 1px;
    color: #000;
    font-size: 10px;
    height: auto;
    line-height: 1;
    padding: 7px 10px;
    display: inline-block;
    vertical-align: middle;
}

.hide-autoplay-tooltip:after {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: 42%;
    transform: rotate(45deg);
}

.jw-state-idle .jw-controls, .jw-controls-backdrop {
    background: transparent !important;
}


.player-wrap {
    position: relative;
}

#jwplayer-container {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.related-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.related-wrapper a {
    position: relative;
    width: 33%;
    display: inline-block;
    padding: 3px 5px;
    box-sizing: border-box;
}

.related-wrapper a img {
    width: 100%;
}

.related_item-title {
    font: 700 0.9em/1.2 Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: right;
    width: 100%;
    transition: opacity 0.3s ease 0s;
    padding: 10px;
    opacity: 0;
}

.jw_close-button {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0.5em;
    background: #ff8400;
    width: 20px;
    height: 20px;
    z-index: 999999;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 50%;
    color: #fff;
}

.autoplay-tooltip {
    display: none;
}

.hide-autoplay-tooltip {
    visibility: hidden;
    position: absolute;
    top: -28px;
    left: 35%;
    right: 30%;
    text-align: center;
    background-color: #fff;
    border-radius: 1px;
    color: #000;
    font-size: 10px;
    height: auto;
    line-height: 1;
    padding: 7px 10px;
    display: inline-block;
    vertical-align: middle;
}

.hide-autoplay-tooltip:after {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: 42%;
    transform: rotate(45deg);
}

.jw-flag-ads .jw-title {
    visibility: hidden;
}

.jw-title {
    display: inherit;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
}

.jw-flag-user-inactive .jw-title {
    visibility: hidden;
}

#video-article-jwplayer:hover .jw-title,
.jw-state-paused .jw-title {
    display: inherit;
    visibility: visible;
}

.jw-state-paused.jw-flag-user-inactive .jw-title {
    visibility: visible;
}

.jw-state-idle.jw-flag-user-inactive .jw-title {
    visibility: visible;
}

.custom-error-msg {
    width: 100%;
    height: 100%;
}

.custom-error-msg {
    background: #000;
    overflow: hidden;
    position: relative
}

.custom-error-msg {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper-video-singlepage .jw-error-msg {
    visibility: hidden !important;
}

.preview-image__on-error {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
}
div.jw-wrapper.jw-reset > div.jw-controls.jw-reset > div.jw-controlbar.jw-reset > div.jw-reset.jw-button-container > div.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-related-btn{
    visibility: hidden;
}

