@import "single-page-video.css";

#player-wrapper.jwplayer{

}
.jwplayer .jw-preview{
    background-size: contain!important;
}

.jw-state-idle .jw-svg-icon-play path {
    display: none;
}

.jw-state-idle .jw-svg-icon-play {
    background-image: url("../icons/play_icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-state-idle:hover .jw-display-icon-container .jw-svg-icon-play {
    background-image: url("../icons/play_icon_hover.svg");
    fill: #ff8400;
}

/* play icon in control bar */
.jw-state-paused .jw-svg-icon-play path {
}

.jw-state-paused .jw-svg-icon-play {
    /* background-image: url("../icons/play_icon.svg"); */
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-state-paused .jw-icon-playback:hover .jw-svg-icon-play {
    /* background-image: url("../icons/play_icon_hover.svg"); */
}

/* pause icon in control bar */
.jw-svg-icon-pause path {
}

.jw-svg-icon-pause {
    /* background-image: url("../icons/pause.svg"); */
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-playback:hover .jw-svg-icon-pause {
    /* background-image: url("assets/pause-hover.svg"); */
}
/* //////////////////// */

/* Set the idle overlay to transparent white */
.jwplayer.jw-skin-alaska.jw-state-idle .jw-controls {
    /* background: rgba(255, 255, 255, 0.7); */
}

/* Hide titles on complete */
.jwplayer.jw-skin-alaska.jw-state-complete .jw-title .jw-title-primary,
.jwplayer.jw-skin-alaska.jw-state-complete .jw-title .jw-title-secondary {
    display: none;
}

/*  play & restart buttons with  icons */
.jwplayer.jw-skin-alaska .jw-display-controls .jw-display-icon-container,
.jwplayer.jw-skin-alaska .jw-display-controls .jw-display-icon-container {
    /* background-color: #ff8400; */
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.jwplayer.jw-skin-alaska
.jw-display-controls
.jw-display-icon-container
.jw-icon,
.jwplayer.jw-skin-alaska
.jw-display-controls
.jw-display-icon-container
.jw-icon {
    width: 80px;
    height: 80px;
    padding: 20px;
}

/* Change play button colors on idle state, handle hover transitions */
.jwplayer.jw-skin-alaska.jw-state-idle
.jw-display-controls
.jw-display-icon-container {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}
/*
  .jwplayer.jw-skin-alaska.jw-state-idle
    .jw-display-controls
    .jw-display-icon-container
    .jw-icon {
  } */

/* Shrink play button on smaller breakpoints */
.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-3
.jw-display-controls
.jw-display-icon-container,
.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-2
.jw-display-controls
.jw-display-icon-container {
}

.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-1
.jw-display-controls
.jw-display-icon-container,
.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-0
.jw-display-controls
.jw-display-icon-container {
    height: 40px;
    width: 40px;
}

.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-3
.jw-display-controls
.jw-display-icon-container
.jw-icon,
.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-2
.jw-display-controls
.jw-display-icon-container
.jw-icon {
}

.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-1
.jw-display-controls
.jw-display-icon-container
.jw-icon {
    height: 30px;
    width: 80px;
    padding: 10px;
}
.jw-breakpoint-1 .jwplayer.jw-state-paused {
    display: none;
}

.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-0
.jw-display-controls
.jw-display-icon-container
.jw-icon {
    height: 20px;
    width: 20px;
    padding: 10px;
}

.jwplayer.jw-skin-alaska.jw-state-idle
.jw-display-controls
.jw-display-icon-container:hover {
    /* background-color: #ff8400; */
}

.jwplayer.jw-skin-alaska.jw-state-idle
.jw-display-controls
.jw-display-icon-container
.jw-icon:hover {
    /* color: #f7f7f7; */
}

.jwplayer.jw-skin-alaska.jw-state-paused .jw-controls {
    background-color: rgba(147, 221, 230, 0.3);
}
.jw-horizontal-volume-container{
    display: block!important;
}

/* .jw-slider-time .jw-knob, .jw-horizontal-volume-container:hover .jw-knob, .jw-slider-time:focus .jw-knob, .jw-horizontal-volume-container:focus .jw-knob {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  } */

/* Customize font style and positioning for titles */
/* .jwplayer.jw-skin-alaska.jw-state-idle .jw-title {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  } */

/* Apply new styles to video title and description, handle transitions */
/* .jwplayer.jw-skin-alaska .jw-title-primary {
    font-size: 48px;
    padding: 30px;
    color: #ff8400;
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    padding-bottom: 15px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
  } */

/* Apple new styles to video description */
/* .jwplayer.jw-skin-alaska .jw-title-secondary {
    font-size: 18px;
    max-width: 70%;
    font-weight: 500;
    opacity: 0;
    margin: 0 auto;
    color: #ff8400;
    text-align: center;
    font-family: "Merriweather", serif;
    white-space: normal;
    line-height: 1.3;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
  } */

/* Decrease font size on medium-small breakpoints */
.jwplayer.jw-skin-alaska.jw-breakpoint-3 .jw-title-primary,
.jwplayer.jw-skin-alaska.jw-breakpoint-2 .jw-title-primary,
.jwplayer.jw-skin-alaska.jw-breakpoint-1 .jw-title-primary,
.jwplayer.jw-skin-alaska.jw-breakpoint-0 .jw-title-primary {
    font-size: 22px;
}

.jwplayer.jw-skin-alaska.jw-breakpoint-3 .jw-title-secondary,
.jwplayer.jw-skin-alaska.jw-breakpoint-2 .jw-title-secondary {
    font-size: 14px;
}

/* Hide the description on smallest breakpoints */
.jwplayer.jw-skin-alaska.jw-breakpoint-1 .jw-title-secondary,
.jwplayer.jw-skin-alaska.jw-breakpoint-0 .jw-title-secondary {
    /* display: none; */
}

/* Change colors and remove gradient shadow for control bar, change icon color on pause */
.jwplayer.jw-skin-alaska .jw-display {
    padding-bottom: 45px;
}

.jwplayer.jw-skin-alaska .jw-controlbar {
    background-color: rgba(43, 51, 63, 0.7);
    padding: 0;
    height: 30px !important;
}

.jwplayer.jw-skin-alaska .jw-controlbar .jw-button-container .jw-button-color {
    color: #ff8400;
}

.jwplayer.jw-skin-alaska .jw-controlbar .jw-button-container .jw-button-color {
    color: #ff8400;
    left: 0 !important;
}

.jwplayer.jw-skin-alaska
.jw-controlbar
.jw-button-container
.jw-button-color:hover {
    color: #ff8400;
}

/* Move tooltips closer to control bar with inline timeslider, change colors, round corners, remove shadow */
.jwplayer.jw-skin-alaska .jw-controlbar .jw-tooltip {
    bottom: 70%;
    box-shadow: none;
}

.jwplayer.jw-skin-alaska .jw-controlbar .jw-tooltip.jw-open {
    border-radius: 5px;
    color: #ff8400;
}

.jwplayer.jw-skin-alaska .jw-controlbar .jw-tooltip .jw-text {
    background-color: #ff8400;
    border-radius: 5px;
    border: 0;
}

.jwplayer.jw-skin-alaska .jw-controlbar .jw-text {
    color: #1e1e1e;
}

.jwplayer.jw-skin-alaska .jw-volume-tip,
.jwplayer.jw-skin-alaska .jw-time-tip {
    padding-bottom: 0;
}

/* Customize colors of volume control knob */
.jwplayer.jw-skin-alaska
.jw-overlay
.jw-slider-volume
.jw-slider-container
.jw-knob {
    background-color: #ff8400;
}

/* Customize colors of timeslider */
.jwplayer.jw-skin-alaska
.jw-controlbar
.jw-slider-time
.jw-slider-container
.jw-rail {
    /* background-color: #ff8400 !important; */
}
.jw-reset .jw-button-container {
    height: 30px !important;
    /*padding: 0 !important;*/
    box-sizing: border-box !important;
}
.jw-icon-playback{
    left: 0;
}
.jw-slider-time .jw-rail,
.jw-slider-time .jw-rail, .jw-horizontal-volume-container .jw-rail, .jw-slider-time .jw-buffer, .jw-horizontal-volume-container .jw-buffer, .jw-slider-time .jw-progress, .jw-horizontal-volume-container .jw-progress, .jw-slider-time .jw-cue, .jw-horizontal-volume-container .jw-cue{
    background: #ff8400;
}
.jw-slider-time {
    height: 0px !important;
    top: -4px;
    position: relative;
}
.jw-slider-time,
.jw-flag-audio-player .jw-slider-volume {
    padding: 0 !important;
    box-sizing: border-box;
    height: 26px;
}
/* ////////////////////////////// */
.jwplayer.jw-skin-alaska
.jw-controlbar
.jw-slider-time
.jw-slider-container
.jw-buffer {
    /* background-color: #ff8400 !important; */
}

.jwplayer.jw-skin-alaska
.jw-controlbar
.jw-slider-time
.jw-slider-container
.jw-progress {
    background-color: #ff8400 !important;
}

.jwplayer.jw-skin-alaska
.jw-controlbar
.jw-slider-time
.jw-slider-container
.jw-knob {
    background-color: #ff8400 !important;
}

/* Customize of the settings menu */

.jw-controls.jw-reset.jw-settings-open .jw-settings-menu {
    /* max-width: 65px !important; */
}

.jwplayer.jw-skin-alaska .jw-settings-menu {
    background-color: transparent;
}

.jwplayer.jw-skin-alaska .jw-settings-menu .jw-settings-topbar {
    background-color: #ff8400;
}

.jwplayer.jw-skin-alaska .jw-settings-menu .jw-settings-topbar .jw-icon:hover {
    /* color: #ff8400; */
}

.jwplayer.jw-skin-alaska .jw-settings-menu .jw-settings-content-item {
    /* color: #ff8400; */
}

.jwplayer.jw-skin-alaska .jw-settings-menu .jw-settings-content-item:hover,
.jwplayer.jw-skin-alaska .jw-settings-menu .jw-settings-item-active {
    color: #ff8400;
    font-weight: bold;
}
/* ////////////// */

.jw-icon-inline {
    width: 40px !important;
    height: 26px !important;
    right: -15px;
}
.jw-skin-x3_skin .jw-icon-inline{
    color: #ff8400;
}
.jw-full.jw-icon-volume{
    color: #ff8400;
}
.jw-svg-icon .jw-svg-icon-play {
    width: 16px;
    height: 16px;
    font-size: 1.8em;
}
.jw-text-elapsed,
.jw-text-duration,
.jw-text-countdown {
    color: #ff8400 !important;
    font-size: 10px;
}
.jw-svg-icon-pause,
.jw-svg-icon-rewind,
.jw-svg-icon-volume-50 .jw-svg-icon-volume-100,
.jw-svg-icon-volume-50 .jw-svg-icon-volume-0,
.jw-svg-icon-sharing,
.jw-svg-icon-settings,
.jw-svg-icon-fullscreen-on,
.jw-svg-icon-fullscreen-off {
    width: 16px !important;
    height: 16px !important;
}
.jw-slider-volume .jw-progress,
.jw-slider-volume .jw-buffer {
    background: #ff8400 !important;
}
.jw-icon.jw-icon-volume.jw-open ~ .jw-text-elapsed,
.jw-icon.jw-icon-volume.jw-open ~ .jw-text-countdown,
.jw-icon.jw-icon-volume.jw-open ~ .jw-text-duration,
.jw-icon.jw-icon-volume.jw-open ~ .jw-text-alt,
.jw-icon.jw-icon-volume.jw-open ~ .jw-text-live {
    /* transform: translate(175%, 70%) rotate(90deg) !important; */
}
/* volume horizontal set */
.jw-slider-time {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    display: flex;
    order: 0;
}

.jw-icon-volume {
    margin-right: 0;
}
#jwplayer-container
> div.jw-wrapper.jw-reset
> div.jw-controls.jw-reset
> div.jw-controlbar.jw-reset
> div.jw-reset.jw-button-container
> div.jw-icon.jw-icon-tooltip.jw-icon-volume.jw-button-color.jw-reset.jw-open
.jw-overlay {
    display: none;
}

.jw-horizontal-volume-container {
    align-items: center;
    width: 0;
}

.jw-open {
    transition: width 1000ms;
    width: 80px;
    margin-right: 20px;
    /* position: relative !important; */
}
.jw-slider-volume {
    padding: 0 12px;
    opacity: 1;
}

.jw-slider-time {
    flex: 1 1 auto;
    width: auto;
    transition: opacity 1000ms;
}

.jw-slider-volume {
    height: 20px;
    align-items: center;
    padding-right: 10px !important;
}
.jw-knob {
    transform: translate(-50%, -50%);
}

.jw-icon-volume {
    margin-right: 10px;
}

/* .jw-breakpoint-1, */
.jw-breakpoint-2 .jw-horizontal-volume-container.jw-open ~ .jw-slider-time {
    opacity: 0;
}

/* set quality & sharing menu container */
.jw-settings-menu {
    height: auto !important;
    width: auto;
    bottom: 40px !important;
    right: 33px !important;
}
.jw-settings-menu .jw-svg-icon[class*="jw-svg-icon-quality"],
.jw-settings-menu .jw-svg-icon[class*="jw-svg-icon-sharing"],
.jw-submenu-sharing,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-settings-quality.jw-submenu-quality,
.jw-settings-menu .jw-svg-icon[class*="jw-svg-icon-quality"]:after,
.jw-settings-menu .jw-svg-icon[class*="jw-svg-icon-sharing"]:after,
.jw-icon-settings::after {
    display: none !important;
}
.jw-settings-submenu-quality.jw-settings-submenu-active,
.jw-settings-submenu-sharing.jw-settings-submenu-active {
    background-color: rgba(43, 51, 63, 0.7) !important;
    /* width: auto !important; */
}
.jwplayer.jw-skin-alaska .jw-settings-menu {
    width: auto;
    /* padding-bottom: 10px; */
    box-sizing: border-box;
}

/* hide right-click */
.jw-rightclick {
    display: none !important;
}

/* remove rewind 10sec btn */
.jw-icon-rewind {
    display: none !important;
}

.jw-display-icon-container.jw-display-icon-rewind.jw-reset,
.jw-display-icon-container.jw-display-icon-next.jw-reset {
    display: none !important;
}

/* hide related videos during video play */
.jw-related-shelf-container.jw-reset {
    display: none !important;
}

@media only screen and (min-width: 300px) and (max-width: 449px) {
    .jw-slider-time {
        height: auto !important;
    }
    .jw-flag-touch .jw-slider-time::before {
        height: 15px !important;
        bottom: auto !important;
    }

    .jwplayer.jw-skin-alaska .jw-display-controls .jw-display-icon-container,
    .jwplayer.jw-skin-alaska .jw-display-controls .jw-display-icon-container {
        width: auto;
        height: auto;
    }
    .jw-display-icon-rewind,
    .jw-display-icon-next,
    .jw-display-icon-container .jw-display-icon-rewind .jw-reset,
    .jw-display-icon-container .jw-display-icon-next .jw-reset {
        display: none !important;
    }
    .jw-state-paused .jw-svg-icon-play path {
        display: none;
    }

    .jw-state-paused .jw-svg-icon-play {
        background-image: url("../icons/play.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .jw-state-paused .jw-display-icon-container:hover .jw-svg-icon-play {
        background-image: url("../icons/play_icon_hover.svg");
        fill: #ff8400;
    }

    .jw-flag-floating {
        background-image: none !important;
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat;
    }
    .jw-flag-floating .jw-icon-fullscreen {
        display: none;
    }
}

.jw-reset.jw-icon.jw-icon-inline.jw-related-page.jw-related-page-left.jw-button-color,
.jw-related-next-up-text.jw-reset-text,
.jw-nextup-container.jw-reset.jw-nextup-sticky.jw-nextup-container-visible,
.jw-related-next-up-text.jw-reset-text {
    display: none !important;
}
/* hide live part controls */
.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads)
.jw-controlbar
.jw-button-container
> .jw-icon-playback,
.jwplayer.jw-flag-live.jw-state-playing .jw-icon-playback .jw-svg-icon-pause {
    display: inherit !important;
}
#jwplayer-container-live
> div.jw-wrapper.jw-reset
> div.jw-controls.jw-reset
> div.jw-controlbar.jw-reset
> div.jw-reset.jw-button-container
> div.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-playback
> svg.jw-svg-icon.jw-svg-icon-stop {
    display: none;
}

/* MOBILE EDITS */
.related-wrapper > div {
    text-align: center;
}

.jw-breakpoint-1.jw-state-playing .jw-icon-display,
.jw-breakpoint-1.jw-state-paused .jw-display-controls {
    visibility: hidden !important;
}
.jw-breakpoint-1.jw-state-idle .jw-display-controls {
    display: inline-block !important;
}
.jw-breakpoint-1
div.jw-controls.jw-reset
> div.jw-controlbar.jw-reset
> div.jw-reset.jw-button-container
> div.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-volume.jw-full
> svg.jw-svg-icon.jw-svg-icon-volume-100 {
    width: 18px !important;
    height: 18px !important;
}
.jwplayer.jw-skin-alaska.jw-state-idle.jw-breakpoint-1
.jw-display-controls
.jw-display-icon-container {
    width: auto !important;
    height: auto !important;
}
.jw-breakpoint-1 .jw-state-idle .jw-svg-icon-play {
    background-size: cover;
}
.jw-breakpoint-1 .jw-display .jw-svg-icon,
#jwplayer-mobile-container-tv-live
> div.jw-wrapper.jw-reset
> div.jw-controls.jw-reset
> div.jw-display.jw-reset
> div
> div
> div.jw-display-icon-container.jw-display-icon-display.jw-reset
> div
> svg.jw-svg-icon.jw-svg-icon-buffer {
    width: 90px !important;
    height: 90px !important;
}
#jwplayer-mobile-container-tv-live
> div.jw-wrapper.jw-reset
> div.jw-controls.jw-reset
> div.jw-controlbar.jw-reset
> div.jw-reset.jw-button-container
> div.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-playback
> svg.jw-svg-icon.jw-svg-icon-stop {
    display: none !important;
}


.jw-error{
    height: 100%!important;
    padding-top: 56.25%!important;
}
.jw-icon-tooltip.jw-open .jw-overlay{
    opacity: 0!important;
}
.jw-state-error#jwplayer-container,
#jwplayer-container.jw-state-error {
    height: 100%!important;
    padding-top: 0!important;
}
/* 09.03.20 */
.jw-breakpoint-1 .jw-settings-menu{
    bottom: 0 !important;
    height: inherit !important;
}
.jw-breakpoint-1 .jw-settings-menu {
    /* height: inherit !important;
    width: auto;
    bottom: 0 !important;
    right: 0 !important; */
}

.jw-state-paused .jw-icon-display{
    visibility: hidden !important;
}
.jw-state-playing .jw-icon-display{
    visibility: hidden !important;
}


/*setting RELATED VIDEOS*/

.player-wrap{
    position: relative;
}
#jwplayer-container {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.related-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.related-wrapper a {
    position: relative;
    width: 33%;
    display: inline-block;
    padding: 3px 5px;
    box-sizing: border-box;
}

.related-wrapper a img {
    width: 100%;
}

.related_item-title {
    font: 700 0.9em/1.2 Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* height: 100%; */
    width: 100%;
    transition: opacity 0.3s ease 0s;
    padding: 10px;
    /* background-image: linear-gradient(180deg, hsla(0, 0%, 5%, 0, transparent 100px); */
    opacity: 0;
}

.jw_close-button {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0.5em;
    background: #ff8400;
    width: 20px;
    height: 20px;
    z-index: 999999;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 50%;
    color: #fff;
}
.autoplay-tooltip{
    display:none;
}
.hide-autoplay-tooltip{
    visibility: hidden;
    position: absolute;
    top: -28px;
    left: 35%;
    right: 30%;
    text-align: center;
    background-color: #fff;
    border-radius: 1px;
    color: #000;
    font-size: 10px;
    height: auto;
    line-height: 1;
    padding: 7px 10px;
    display: inline-block;
    vertical-align: middle;
}
.hide-autoplay-tooltip:after{
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: 42%;
    transform: rotate(45deg);
}



/*////////////////////////////////////////////*/



.player-wrap {
    position: relative;
}

#jwplayer-container {
    overflow: hidden;
    height: 0 !important;
    padding-top: 56.25%;
}

#jwplayer-x3 {
    position: relative;
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*overflow: hidden;*/
    height: 0;
    padding-top: 56.25%;
}

#jwplayer-x3:hover > div > svg > g {
    color: #ff8400;
    fill: #ff8400;
}

.vjs-new-big-play-button {
    cursor: pointer;
    font-size: 3em;
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    height: 72px;
    width: 72px;
    z-index: 200;
}

.vjs-new-big-play-button svg {
    width: 100%;
    height: 100%;
    max-width: 72px;
    max-height: 72px;
}

#jwplayer-x3_play {
    position: absolute;
    top: calc(50% - 1.5em);
    left: calc(50% - 1.5em);
    z-index: 99999999999999;
    visibility: visible;
    opacity: 1;
    overflow: visible;
    display: inline-block;
}

#jwplayer-x3_titles-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #c1c1c1;
    list-style-type: none;
    padding: 2px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 999;
}

#jwplayer-x3_titles-container p {
    display: flex;
    flex: 1 1 auto;
    cursor: pointer;
    font-size: 9px;
    margin: 0;
    padding: 0 0 0px 0;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 9px;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}

.screens-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#jwplayer-x3 > div.screens-container > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

#jwplayer-x3 > div.screens-container > img:first-child {
    opacity: 1;
}

#jwplayer-x3_titles-container > p:hover {
    color: #fff;
}

.jw-state-paused .jw-icon-display .jw-svg-icon-play {
    display: none !important;
}

.jw-state-paused ~ #jwplayer-x3 {
    display: none;
}

.jw-error.jw-reset {
    display: none;
}


/**/
